body{
  background-color: black;
  font-size: 21px;
  display: flex;
  flex: 1 1 100%;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}

body.end {
  align-items: flex-end;
}

#message {
  position: fixed;
  align-self: center;
  justify-self: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  padding-left: 1.5em!important;
  padding-right: 1.5em!important;
  box-sizing: border-box;
  text-align: center;
  text-shadow:
    3px 2px 0 #000,
    -3px 2px 0 #000,
    2px 3px 0 #000,
    2px -3px 0 #000,

    3px -2px 0 #000,
    -3px -2px 0 #000,
    -2px 3px 0 #000,
    -2px -3px 0 #000,

    3px 0 0 #000,
    -3px 0 0 #000,
    0 3px 0 #000,
    0 -3px 0 #000,

    3px 0 3px #000,
    -3px 0 3px #000,
    0 3px 3px #000,
    0 -3px 3px #000,

    2px 0 0 #000,
    -2px 0 0 #000,
    0 2px 0 #000,
    0 -2px 0 #000,

    2px 1px 0 #000,
    -2px 1px 0 #000,
    1px 2px 0 #000,
    1px -2px 0 #000,

    2px -1px 0 #000,
    -2px -1px 0 #000,
    -1px 2px 0 #000,
    -1px -2px 0 #000,

    1px 1px #fff,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.1rem;
}

#myVideo {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  align-self: center;
  justify-self: center;
}
